/* BASIC ABOUT ME PAGE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    

}

body {
    background-color: #1a1a1d;
    background-size: cover;
    color: white;
}

/* HEADING CSS */

header{
    background-color:#6f2232;
}

li {
    list-style: none;
}

a{
    color:white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

#nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #4e4e50;
}

#nav-link:hover {
    color: #4e4e50;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.goBack {
    background: transparent;
    border: 0;
    font-size: 30px;
    color: white;
    padding: 20px; 
}

/* BODY / MAIN CSS */

.container {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

img {
    border: 3px #6f2232 solid;
    margin-top: 0vh;
    width: 350px;
    height: 450px;
}

.bio {
    border: 3px #6f2232 solid;
    align-items: center;
    margin-top: 10vh;
    width: 400px;
    height: 300px;
    font-size: 24px;
}

h2 {
    opacity: 25%;
}

.languages {
    border: 3px #6f2232 solid;
    padding: 30px;
    list-style-type: none;
    font-size: 31.5px;
    align-items: center;
}

#list-heading {
    margin-bottom: 5px;
    font-size: 30px;

}

#main-tag {
    font-size: 120px;
    margin-left: 20px;
    margin-top: 2vh;
    opacity: 25%;
}

/* FOOTER CSS */

.social-links {
    text-align: center;
    margin-top: 13vh;
    background-color: #4e4e50;
    padding: 20px;
}

.link a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.footer-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    color: white;
}

/* MOBILE DEVICES */

@media (max-width: 400px) {
    .bio {
        font-size: 21px;
        text-align: center;
    }
    .languages {
        font-size: 21px;
        
    }
}

 @media (max-width: 480px) {
    #main-tag {
        font-size: 70px;
        text-align: center;
        padding-right: 15px;
    }
}

 @media (max-width: 600px) {
    .container {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        width: 100vw;
    }

    .header-container {
        width: 100vw;
    }
    .languages {
        text-align: center;
        font-size: 40px; 
        }
    #list-heading {
        margin-top: 80px;
        margin-bottom:20px ;
    }

    .bio {
        align-items: center;
        padding: 40px
    }
}

@media (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        width: 100vw;
    }

    .header-container {
        width: 100vw;
    }
    .languages {
        text-align: center;
        font-size: 40px; 
        margin-left: 20px;
        }
    #list-heading {
        margin-top: 80px;
        margin-bottom:20px;
        margin-left: 20px;
    }

    .bio {
        align-items: center;
        padding: 40px
    }
} 

@media (min-width: 750px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 1080px) {
    .container {
        display:flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .bio {
        margin-left: 5vw;
    }
    .languages {
        margin-left: 5vw;
    }
    #list-heading{
        margin-left: 5vw;
    }
}


/* HAMBURGER ANNIMATION MOBILE  */

@media (max-width: 768px) {
    .hamburger {
    display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        background-color:#6f2232;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }   
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}
