/* BASIC ABOUT ME PAGE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    

}

body {
    background-color: #1a1a1d;
    background-size: cover;
    color: white;
}

/* HEADING CSS */

.header-container {
    display: inline-flex;
    flex-direction:row; 
}
   
.goBack {
    background: transparent;
    border: 0;
    font-size: 30px;
    color: #6f2232;
    padding: 20px; 
}

/* BODY / MAIN CSS */

.container {
    display:flex;
    flex-direction: row;
}

img {
    border: 3px #6f2232 solid;
    margin-top: 0vh;
    width: 350px;
    height: 450px;
    margin-left: 20px;
}

.bio {
    border: 3px #6f2232 solid;
    padding: 40px;
    margin-left: 5vw;
    margin-top: 10vh;
    width: 400px;
    height: 300px;
    font-size: 22px;
}

h2 {
    opacity: 25%;
}

.languages {
    border: 3px #6f2232 solid;
    padding: 30px;
    list-style-type: none;
    font-size: 31.5px;
}

.skills {
    margin-top: -3vh;
    margin-left: 6vw;
}

#list-heading {
    margin-bottom: 5px;
    font-size: 30px;

}

#main-tag {
    font-size: 120px;
    margin-left: 20px;
    margin-top: 2vh;
}

/* FOOTER CSS */

.social-links {
    text-align: center;
    margin-top: 13vh;
    background-color: #4e4e50;
    padding: 20px;
}

.link a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.footer-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    color: white;
}

/* MOBILE DEVICES -- UNFINISHED*/

 @media (max-width: 480px) {
    #main-tag { 
        font-size: 70px;
        text-align: center;
        padding-right: 15px;
    }
    .header-container {
        display: inline-flex;
        flex-direction: row;
    }
    .container {
    display: inline-flex;
    flex-direction: column;
    }
    .bio {
        font-size: 25px;
        border: 2px #6f2232 solid;
        padding: 20px;
    }  
}